/* ==========================================================================
#TABS
========================================================================== */
.c-tab {
	display: flex;
	position: relative;
	margin-bottom: rem(50px);
	border-bottom: 1px solid $grey-500;
	@include respond-to($breakpoint-mobile) {
		overflow-y: scroll;
	}

	&__item{
		margin-right: rem(35px);
		position: relative;
		top: rem(3px);
	}
	&__link {
		display: table;
		font-size: rem(20px);
		padding: 0 0 5px;
		letter-spacing: -1px;
		color: $grey-700;
	}

	@media only screen and (max-width: 480px) {
		&__link {
			margin-right: rem(10px);
			font-size: rem(13px);
			text-transform: uppercase;
		}
	}

	&__link.active {
		border-bottom: rem(3px) solid $blue-400;
	}

	&__content {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}


	/* Style the buttons inside the tab */
	button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
		font-size: 17px;
	}

	button:hover {
		background-color: #ddd;
	}

	button.active {
		background-color: #ccc;
	}



}

